img {
  display: none;
}

.upcase-large {
  text-transform: uppercase;
  font-size: 1.9rem;
  line-height: 1.15;
}

.upcase-medium {
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.contact {
  display: none;
}

.contact a {
  text-transform: uppercase;
  font-size: 0.95rem;
}

.experience h6 {
  text-transform: uppercase;
  font-size: 0.95rem;
  margin-bottom: 25px;
}

.experience h6 > small {
  text-transform: none;
  font-size: 0.85rem;
}

footer {
  height: 73px;
}
