body {
  background-color: #060405;
  color: #FDF9F8;
}

.upcase-large {
  text-transform: uppercase;
  color: #FDF9F8;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 10px;
}

.upcase-medium {
  text-transform: uppercase;
  color: #2484D1;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-top: 10px;
}

.contact {
  margin-top: 10px;
  margin-bottom: 0px;
}

ul > li > a {
  text-transform: uppercase;
  color: #757472;
  font-size: 0.95rem;
}

.experience > h3 {
  text-transform: uppercase;
  color: #2484D1;
  font-size: 0.95rem;
  margin-bottom: 25px;
}

h3 > a, h3 > a:hover {
  color: #2484D1;
  text-decoration: underline;
}

.experience > h3 > small {
  text-transform: none;
  color: #FDF9F8;
  font-size: 0.85rem;
}

footer {
  height: 30px;
}

.social-links {
  display: none;
}

@media only screen and (min-width: 40.063em) {

  .upcase-large {
    font-size: 3.5rem;
  }

  .upcase-medium {
    font-size: 1.9rem;
  }

  ul > li > a {
    font-size: 1.3rem;
  }

  .experience > h3 {
    font-size: 1.3rem;
  }

  .experience > h3 > small {
    font-size: 1.2rem;
  }

}
