<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Whittaker: Mobile &amp; Web Visions Become Reality</title>
    <meta name="description" content="Delivering high value iOS, Ruby, Rails, Angular, API, and Prototype Projects for passionate entrepreneurs." />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/site.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    {{ content }}
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
