<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Whittaker: Principal Software Developer with Founder Experience</title>
    <meta name="description" content="Tons of industry experience and a proven track record of delivering high value software, currently looking to multiple the efforts of smart teams and move the needle in how technology is used in the world we share." />

    <meta property="og:url" content="http://mwhittaker.com" />
    <meta property="og:title" content="Seeking contract development positions" />
    <meta property="og:description" content="Principal Software Developer with Founder Experience" />
    <meta property="og:image" content="img/og-default.jpg" />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/print.css" media="print" />
    <script src="js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/a74c98f2-bea7-4515-b12f-b5a2076e715e.js"></script>
  </head>
  <body>
    {{ content }}
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
